
$ColorTitleText:#102226;
$ColorGreyText: #485B60;
$ColorDarkGreenAccent:#1C3F3A;
$ColorTextIcons: #9F9B8D;

$ColorVectorText:#ECE8D9;

$ColorLineVector:#1C3F3A;

$ColorTextImg: #B4BBBD;
$ColorTitleTextImg: #F1F3F3;
$ColorBackVector: #CBC7B5;

$ColorGreenBtn: #26534C;

$ColorBorderGrey:#DDE3E4;

$ColorBordeyBtn:#EFF1F5;

$ColorBackground:#E5E5E5;